<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<meta name="description" content="Lei dine ski her!">
<meta name="author" content="Joel Kaaberg">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.responsive.css') }}">
{% block head %}{% endblock %}

<script src="{{ url_for('static', filename='js/libs/modernizr-2.6.2.min.js') }}"></script>
<!--[if lt IE 9]><script src="{{ url_for('static', filename='js/libs/respond-1.3.0.min.js') }}"></script><![endif]-->
</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('pages.index') }}">Alpinklubben Skiutleie</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if request.url_rule.endpoint == "pages.about" %}class="active"{% endif %}><a href="{{ url_for('pages.about') }}">Om oss</a></li>
            {% if current_user.is_authenticated() %}
            <li {% if request.url_rule.endpoint == "order.order" %}class="active"{% endif %}><a href="{{ url_for('order.order') }}">Utleie</a></li>
            <li {% if request.url_rule.endpoint == "stats.graphs" %}class="active"{% endif %}><a href="{{ url_for('stats.graphs') }}">Statistikk</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav pull-right">
            {% if session.get('ski') or session.get('liftpass') %}
            <li {% if request.url_rule.endpoint == "order.basket" %}class="active"{% endif %}><a href="{{ url_for('order.basket') }}">Handlevogn&nbsp;<span class="badge pull-right"> {{ session['ski']|length + session['liftpass']|length }}</span></a></li>
            {% endif %}
            <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if not current_user.is_authenticated() %}Logg inn{% else %}Innlogget som {{ current_user.fornavn }} {{ current_user.etternavn }}{% endif %} <b class="caret"></b></a>
                 <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                    {% if not current_user.is_authenticated() %}
                    <li>
                       <div class="row">
                          <div class="col-md-12">
                             <form method="post" class="form" role="form" action="{{ url_for('pages.index') }}" id="login-nav">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                   <label class="sr-only" for="email">Email address</label>
                                   {{ form.email(class_ = 'form-control first-input', placeholder = form.email.label.text, required = true, autofocus = true) }}
                                </div>
                                <div class="form-group">
                                   <label class="sr-only" for="passord">Password</label>
                                   {{ form.passord(class_ = 'form-control last-input', placeholder = form.passord.label.text, required = true) }}
                                </div>
                                <div class="form-group">
                                   <button type="submit" class="btn btn-success btn-block">Logg inn</button>
                                </div>
                             </form>
                          </div>
                       </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                       <input class="btn btn-primary btn-block" type="button" id="sign-in-google" onclick="window.location.href='{{ url_for('user.register') }}'" value="Registrer">
                    </li>
                    {% else %}
                    <li><a href="{{ url_for('user.edit') }}">Instillinger</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('user.logout') }}">Logg ut</a></li>
                    {% endif %}
                 </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
<br />
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
  <main id="messages" role="main" class="container">
  {% for category, message in messages %}
    <div class="alert alert-block alert-{{ category }} fade in">
      <a class="close" data-dismiss="alert">&times;</a>
      {{ message.decode('utf-8') }}
    </div>
  {% endfor %}
  </main>
{% endif %}
{% endwith %}
{% block carousel %}{% endblock %}
    <main id="content" role="main" class="container">
      {% block content %}{% endblock %}
    </main>
    {% block below_content %}{% endblock %}
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <br />
        <center><p>Alipinklubben Skiutleie &copy; Alle rettigheter reservert.</p></center>
        {% block footer %}{% endblock %}
      </div>
    </nav>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" defer></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.10.2.min.js" defer><\/script>')</script>
  <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/plugins.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
  {% block script %} {% endblock %}

</body>
</html>
