{% extends 'layouts/form.html' %}
{% block title %}Instillinger{% endblock %}
{% block content %}
  <form method="post" class="form" action="{{ url_for('users.edit') }}">
    <h3 class="form-heading">Instillinger <a href="{{ url_for('pages.index') }}" title="Tilbake til hovedsiden."><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.hidden_tag() }}
    {{ form.email(class_ = 'form-control first-input', required = true, disabled = True) }}
    {{ form.passord(class_ = 'form-control middle-input', required = true) }}
    {{ form.passord_igjen(class_ = 'form-control middle-input', required = true) }}
    {{ form.fornavn(class_ = 'form-control middle-input', required = true, disabled = True) }}
    {{ form.etternavn(class_ = 'form-control middle-input', required = true, disabled = True) }}
    {{ form.telefon(class_ = 'form-control middle-input', required = true) }}
    <input type="submit" value="Oppdater" class="btn btn-primary btn-lg btn-block" >
  </form>
  <form method="post" class="form" action="{{ url_for('users.delete') }}">
      <input type="submit" value="Fjern meg" class="btn btn-danger btn-lg btn-block" action="{{ url_for('users.delete') }}" >
  </form>
{% endblock %}
